body {
    font-family: "Montserrat", sans-serif;
}

header {
    margin: 0 60px;
}
nav  {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #18A0FB;
}

.title {
    margin: 0;
    font-family:"Cinzel Decorative", serif;
    font-weight: 700;
    color: #18A0FB;
    font-size:36px;
    text-align: left;
}

.menu {
    display: flex;  
    justify-content: space-between;  
    width: 30%;
    font-weight: 500;
    font-size: 15px;
    
}

.search {
    display: flex;
}

.search .button {
    background-color: #18A0FB;
    color: white;
    border-style: none;
    border-radius: 5px 0 0 5px;
    height: 40px;
    
}

.search input {
    border: #18A0FB 1px solid;
    border-radius: 0 5px 5px 0;
}

hr {
    border: solid 0.5px #6DE4EA;
}

.section {
    margin: 0 140px;
}

.section h1 {
    margin: 60px 0px 50px -20px ;
    font-weight: 400;
    font-size: 48px;
}

.article-box {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.article {
 border:grey 1px solid;
 border-radius: 10px;
 height: 655px; 
 width: 686px;   
}
  
.box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}