body {
    font-family: "Montserrat", sans-serif;
}

header {
    margin: 0 60px;
}
nav  {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #18A0FB;
}

.title {
    margin: 0;
    font-family:"Cinzel Decorative", serif;
    font-weight: 700;
    color: #18A0FB;
    font-size:36px;
    text-align: left;
}

.menu {
    display: flex;  
    justify-content: space-between;  
    width: 30%;
    font-weight: 500;
    font-size: 15px;
    
}

.search {
    display: flex;
}

.search .button {
    background-color: #18A0FB;
    color: white;
    border-style: none;
    border-radius: 5px 0 0 5px;
    height: 40px;
    
}

.search input {
    border: #18A0FB 1px solid;
    border-radius: 0 5px 5px 0;
}

header hr {
    border: solid 0.5px #6DE4EA;
}

.featured-post {
    margin: 0 140px;
}

.featured-post h1 {
    margin: 60px 0px 50px -20px ;
    font-weight: 400;
    font-size: 48px;
}

.featured-post_article-box {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.article {
 border:grey 1px solid;
 border-radius: 10px;
 width: 686px;   
}
.featured-post_article-content{
    padding: 30px 50px;
}
.featured-post_article-content p {
    font-size: 12px;
    font-weight: 400;
}
    
.featured-post_post-title{
    align-items: center;
    display: flex;
    justify-content: space-between;
}       
.featured-post_post-title h4 {
    font-size: 18px;
    font-weight: 700;
}
.featured-post_post-title a {
    font-size: 400;
    font-weight: 12px;
}
.featured-post_author .span-time {
   padding: 0 0 0 20px;
   color:gray;
   font-size: 12px;
   font-weight: 400;
}
.featured-post_author .span-author {
    color:#6DE4EA;
    font-size: 12px;
    font-weight: 400;
}

.separation-section {

    width: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 3px #6DE4EA solid;
    border-radius: 6px;
}

.category {
    margin: 0 140px;
}

.category_article-box {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.article_small{
    border:grey 1px solid;
    border-radius: 10px;
    width: 686px;   
}

.article-small_image {
    height: 206px;
    width: 563px;
}